---
import BannerData from "../../components/Banner";

const url = `${import.meta.env.BASE_URI}/trending/all/day?api_key=${import.meta.env.API_KEY}&language=en-US&page=${2}`


const response = await fetch(url)
const data = await response.json()

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="">
        <div class="pt-4">
        <BannerData category='movie' data={data} client:load/>
        
        </div> 
        
        


	
	</body>
</html>