---
import Navigation from "../components/navigation.astro";
import LatestPeople from "../container/people/latestPeople.astro";
import PopularPeople from "../container/people/popularPeople.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Actors</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<Navigation />

		
	</head>
	<body class="font-poppins text-white">
		

		<section>
            <PopularPeople />
            <LatestPeople />

		</section>
		<footer>
			<p class="font-medium text-center py-3">Built with <a class="underline" href="https://astro.build">astro.build</a> by <a class="underline" href="https://github.com/AduwoAyooluwa">Coding Pastor</a></p>
	
		</footer>
	</body>
</html>
