---
import Menubar from "../components/Menubar";
import Navigation from "../components/navigation.astro";
import Discover from "../container/movies/discover.astro";
import Latest from "../container/movies/latest.astro";
import Nowplaying from "../container/movies/nowplaying.astro";
import Popular from "../container/movies/popular.astro";
import Toprated from "../container/movies/toprated.astro";
import Upcoming from "../container/movies/upcoming.astro";
import AiringTodatTv from "../container/tv/airingTodatTv.astro";
import LatestTv from "../container/tv/latestTv.astro";
import PopularTv from "../container/tv/popularTv.astro";
import TopratedTv from "../container/tv/topratedTv.astro";
import UpcomingTV from "../container/tv/topratedTv.astro";

// const url =`https://api.themoviedb.org/3/movie/550?api_key=0535f4259136ecbd61c949c7933a6910` || ''
// const response = await fetch(url)
// const data = await response.json()

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<Navigation />

		
	</head>
	<body class="bg-slate-800 text-white">
		

		<section>
			<Menubar client:load/>
			
			<Nowplaying />
			<Toprated />
			<Popular />
			<Upcoming />


		</section>
		<footer>
			<p class="font-medium text-center py-3">Built with <a class="underline" href="https://astro.build">astro.build</a> by <a class="underline" href="https://github.com/AduwoAyooluwa">Coding Pastor</a></p>
	
		</footer>
	</body>
</html>
