---
import Navigation from "../components/navigation.astro";
import Discover from "../container/movies/discover.astro";
import DiscoverMore from "../container/movies/discoverMore.astro";
import Latest from "../container/movies/latest.astro";
import Nowplaying from "../container/movies/nowplaying.astro";
import Popular from "../container/movies/popular.astro";
import Toprated from "../container/movies/toprated.astro";
import Upcoming from "../container/movies/upcoming.astro";
import PopularPeople from "../container/people/popularPeople.astro";
import AiringTodatTv from "../container/tv/airingTodatTv.astro";
import LatestTv from "../container/tv/latestTv.astro";
import PopularTv from "../container/tv/popularTv.astro";
import TopratedTv from "../container/tv/topratedTv.astro";
import UpcomingTV from "../container/tv/topratedTv.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Movie</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<Navigation />

		
	</head>
	<body class=" text-white">
		

		<section>			
			<Popular />
			<Nowplaying />
			<Toprated />
			<DiscoverMore />
			<Upcoming />


		</section>
		<footer>
			<p class="font-medium text-center py-3">Built with <a class="underline" href="https://astro.build">astro.build</a> by <a class="underline" href="https://github.com/AduwoAyooluwa">Coding Pastor</a></p>
	
		</footer>
	</body>
</html>
