---
import Search from "./Search";

---

<html lang="en">
	<body>
		<nav class="w-full bg-slate-900 h-[50px] py-5">
				<p class="font-semibold text-white text-center">TMDB With Astro.build</p>
		</nav>
		<div class="mx-3">
			<Search />
		</div>
		
	</body>
</html>
