---
import Menubar from "./Menubar";
import Search from "./Search";
import ThemeToggle from "./ThemeToggle";
---

		<nav class="w-full dark:bg-slate-900 px-3 bg-slate-300 h-fit py-5">
				<p class="font-semibold dark:text-white text-dark text-center">TMDB With Astro.build</p>
				<div class="">
					<Menubar client:load />
				</div>
				<p class="text-sm">Change Theme: <ThemeToggle client:load/></p>
			</nav>
