---
import Button from "../../components/Button"
import GetData from "../../components/GetData"
import GetData2 from "../../components/GetData2"

let nextPage = 1
const url = `${import.meta.env.BASE_URI}/discover/movie?api_key=${import.meta.env.API_KEY}&language=en-US&page=4`


const response = await fetch(url)
const data = await response.json()

export async function getStaticPaths({ paginate }){
    return paginate({pageSize: 5})
}
console.log(data)

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="bg-slate-700 mt-3 pt-4">

            <p class="font-semibold mt-3 ml-4 text-xl">Discover</p>
            <GetData pageNumber={1} client:load data={data} />
            </div>  
	
	</body>
</html>