---
import GetData from "../../components/GetData"

const url = `${import.meta.env.BASE_URI}/movie/now_playing?api_key=${import.meta.env.API_KEY}&language=en-US`

const response = await fetch(url)
const data = await response.json()

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="bg-slate-700 mt-3 pt-4">

            <p class="font-semibold mt-3 ml-4 text-xl">Now Playing</p>
            <GetData category={'movie'} client:load data={data} />
            </div>  


	
	</body>
</html>